[Desktop Entry]
Version=1.0
Type=Application
Name=IDEA-Community
GenericName=IntelliJ IDEA Community Edition
Exec=pycharm.sh %f
Icon=Pycharm
Comment=The IDE for Java and Kotlin enthusiasts
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-idea-community